aiohttp==3.9.3
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.6.0
asgiref==3.7.2
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.1.0
base32hex==1.0.2
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.0
celery==5.3.6
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chronometry==2020.11.12
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colouration==2020.7.26
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
dill==0.3.6
disk==2021.6.29
Django==4.2.6
django-filter==23.5
djangorestframework==3.14.0
dnspython==2.6.1
email-validator==2.1.0.post1
exceptiongroup==1.1.3
Flask==3.0.2
fonttools==4.39.3
freeopcua==0.90.6
frozenlist==1.4.1
func-timeout==4.3.5
fuzzywuzzy==0.18.0
geographiclib==2.0
geopy==2.3.0
h11==0.14.0
idna==3.4
iniconfig==2.0.0
install==1.3.5
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.2.0
kiwisolver==1.4.4
kombu==5.3.5
lxml==4.9.2
MarkupSafe==2.1.5
matplotlib==3.7.1
model-bakery==1.17.0
more-itertools==10.2.0
MouseInfo==0.1.3
multidict==6.0.5
numpy==1.26.4
opcua==0.98.13
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.9.0.80
outcome==1.2.0
packaging==23.2
pandas==2.0.0
parameterized==0.9.0
Pillow==9.5.0
pluggy==1.4.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.7
py==1.11.0
PyAutoGUI==0.9.54
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pygame==2.4.0.dev2
PyGetWindow==0.0.9
PyJWT==2.8.0
pymodbus==3.3.0a0
PyMsgBox==1.0.9
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Quartz==10.1
pyparsing==3.0.9
pyperclip==1.8.2
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0
PyRect==0.2.0
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pytest==8.0.2
pytest-django==4.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.0.7
pytz==2023.3
PyYAML==3.12
ravenclaw==2020.11.12
rdflib==6.3.2
redis==5.0.2
requests==2.28.2
rubicon-objc==0.4.7
selenium==4.12.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post4
slytherin==2020.11.12
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
tk==0.1.0
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.4
turtle==0.0.1
txt==2020.11.12
typing_extensions==4.7.1
tzdata==2024.1
urllib3==1.26.15
vine==5.1.0
vk-api==11.9.9
wcwidth==0.2.13
webdriver-manager==4.0.0
Werkzeug==3.0.1
wsproto==1.2.0
yadisk==1.3.2
yandex==0.0.2
yarl==1.9.4
